nav {
  width: 100%;
  min-height: 4.5rem;
  padding: 0 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  background-color: var(--bg);
  border-bottom: 1px solid var(--border);

  z-index: 1000;
}


/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.logo-icon {
  font-size: clamp(1.7rem, 2.5vw, 2.2rem);
  color: #f5c518;
}

.logo h2 {
  margin: 0;
  color: var(--text);

  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
}

.logo h2 span {
  color: #f5c518;
}


/* LINKS */

.links {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 2.5rem);
}

.links a {
  text-decoration: none;
  color: var(--text);

  font-size: clamp(0.85rem, 1.2vw, 1rem);
  font-weight: 500;
}

.links a:hover {
  color: #f5c518;
}

.nav-links {
  display: flex;
  align-items: center;

  gap: 7px;

  text-decoration: none;
  color: var(--text);
}


/* YAHAN TERE CSS ME GALTI THI */

.links svg {
  font-size: 18px;
}


/* RIGHT SIDE */

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}


/* USER */

.user {
  color: var(--text);
  font-size: 0.9rem;
}


/* DARK MODE */

.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-mode button {
  width: clamp(2.2rem, 4vw, 2.7rem);
  height: clamp(2.2rem, 4vw, 2.7rem);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;

  background: #161d27;
  color: #f5c518;

  font-size: clamp(1rem, 2vw, 1.2rem);

  cursor: pointer;
  transition: 0.3s ease;
}

.dark-mode button:hover {
  background: #f5c518;
  color: #090d14;

  transform: scale(1.08);
}


/* HAMBURGER */

.hamburger {
  display: none;

  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  border: none;
  background: transparent;

  color: var(--text);

  font-size: 1.4rem;

  cursor: pointer;
}


/* TABLET */

@media (max-width: 768px) {

  nav {
    padding: 0 4%;
  }

  .user {
    display: none;
  }

}


/* MOBILE */

@media (max-width: 576px) {

  nav {
    min-height: 4rem;
    padding: 0 1rem;
  }

  .logo {
    gap: 0.4rem;
  }
  .dark-mode{
    display: none;
  }


  /* hamburger show */

  .hamburger {
    display: flex;
  }


  /* links dropdown */

  .links {
    position: absolute;

    top: 100%;
    left: 0;

    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;

    gap: 1.3rem;

    padding: 1.5rem;

    background: var(--bg);

    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);

    z-index: 999;
  }


  /* menu open hone par */

  .links.open {
    display: flex;
  }


  .nav-links {
    width: 100%;

    justify-content: center;

    padding: 0.5rem 0;

    font-size: 1rem;
  }


  .dark-mode button {
    width: 2.2rem;
    height: 2.2rem;
  }

}